{% extends "base.html" %}
{% load static %}

{% block page_title %}Homepage{% endblock page_title %}

{% block css_files %}
<link rel="stylesheet" href="{% static "blog/home.css" %}">
<link rel="stylesheet" href="{% static "blog/post.css" %}">
{% endblock css_files %}

{% block content %}

<section id="welcome">
    <header>
        <img src="{% static "blog/images/myphoto.jpg" %}" alt="Authors Photo">
        <h2>SHWETA'S BLOG</h2>
    </header>
    <p>Hi, let me show you what Django can do.</p>
</section>
<section id="latest-posts">
    <h2>My latest Posts</h2>
    <ul>      
        {% for post in posts %}
        <li>
            <article class="post">
                <a href="{% url "post-detail-page" post.slug %}">
                    <img src="{% static "blog/images/"|add:post.image_name|add:".jpg" %}" alt="{{ post.title }}">
                    <div class="post__content">
                        <h3>{{ post.title }}</h3>
                        <p>{{ post.excerpt }}</p>
                    </div>
                </a>
            </article>
        </li>
        {% endfor %}  
        
    </ul>
</section>

<section id="about">
    <h2>What I do</h2>
    <p>Hi, I am Shweta, a Web Developer and I make websites. This website is built using Django Framework. Also I love programming, and excited to help others and solve their bugs</p>
    <p>I aim to solve problems using my knowledge and abilities!</p>
</section>
{% endblock content %}s